<!-- app/views/coupons/_form.html.erb -->
<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden p-6 border border-gray-300">
  <% if coupon.errors.any? %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <strong>Errors:</strong>
      <ul class="mt-2">
        <% coupon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form_with(model: coupon, local: false, data: { controller: "select-all" }) do |form| %>
    <h2 class="text-xl font-semibold mb-6 text-gray-800"><%= coupon.new_record? ? 'Create Coupon' : 'Edit Coupon' %></h2>

    <div class="space-y-4">
      <div class="flex flex-col">
        <%= form.label :code, 'Coupon Code', class: "block text-gray-700 text-sm font-semibold mb-2" %>
        <%= form.text_field :code, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <div class="flex flex-col">
        <%= form.label :discount_percentage, 'Discount Percentage', class: "block text-gray-700 text-sm font-semibold mb-2" %>
        <%= form.number_field :discount_percentage, step: 0.01, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>

      <!-- Checkbox for selecting all users -->
      <div class="flex items-center mb-4">
        <%= check_box_tag "select_all", "1", false, id: "select_all_users", class: "mr-2 h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded", data: { select_all_target: "selectAll" } %>
        <%= label_tag "select_all_users", "Select All Users", class: "text-gray-700 text-sm font-medium" %>
      </div>

      <!-- List of checkboxes for each user -->
      <div id="user-checkboxes" class="space-y-2">
        <% User.all.each do |user| %>
          <div class="flex items-center">
            <%= check_box_tag "coupon[user_ids][]", user.id, false, class: "h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded mr-2", data: { select_all_target: "userCheckbox" } %>
            <%= label_tag "coupon_user_ids_#{user.id}", user.name, class: "text-gray-700 text-sm" %>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="mt-6">
      <%= form.submit "Save Changes", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50' %>
    </div>
  <% end %>
</div>
