<!-- app/views/coupons/_redeem_form.html.erb -->
<div class="max-w-md bg-white shadow-lg rounded-lg overflow-hidden p-6 border border-gray-300 mt-2 ml-4">
  <% if error %>
    <div class="alert alert-error">
      <%= error %>
    </div>
  <% end %>
  
  <%= form_with url: redeem_coupon_path, local: true, method: :post, data: { turbo_frame: "coupon_result" } do |form| %>
    <%= form.hidden_field :cart_id, value: cart.id %> <!-- Use cart instead of @cart -->

    <div class="space-y-4">
      <div class="flex flex-col">
        <%= form.label :coupon_code, "Enter your coupon:", class: "block text-gray-700 text-sm font-semibold mb-2" %>
        <%= form.text_field :coupon_code, required: true, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500", disabled: cart.discount_percentage.present? %>
      </div>
    </div>

    <div class="mt-6">
      <%= form.submit "Apply Coupon", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50", disabled: cart.discount_percentage.present? %>
    </div>
  <% end %>
</div>
